
body{
    font-family: Arial, sans-serif;
    text-align: center;
    background: url(./img/background.png);
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.popup-background {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
    display: none; 
    background: url(./img/background.png);
    background-repeat: repeat;
}

.popup {
    z-index: 101;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    height: auto;
    width: auto;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    background-color: #E1D1B7;
    border: 5px solid #5B4746;
    width: calc(100vw - 120px);
    box-shadow: 0px 0px 3px 1px gray;
    display: none;
    padding: 20px;
}

.popup > .close-button {
    --size: 20px;
    position: absolute;
    top: calc(var(--size) / 4);
    left: calc(var(--width) - var(--size) * 5 / 4);
    height: var(--size);
    width: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: gray;
    font-size: var(--size);
    border-radius: calc(var(--size) / 5);
}

.popup > .close-button:hover {
    background-color: red;
    color: white;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.button-container > * {
    margin: 15px;
}

.buttonDesign{
    display: block;
    text-decoration: none;
    width: auto;
    border-radius: 100vh;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    border: 2px solid #BF7F64;
    color: #000;
}

.buttonDesign:hover {
    color: #fff;
    background: #BF7F64;
}

p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.result {
    display: flex;
    flex-direction: column;
}

.eachLoser{
    display: flex;
    flex-direction: row;
}

.loser li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}