body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: url(./img/background.png);
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.barrier{
  border: 5px solid #5B4746;
  margin: 20px 0px 20px 0px;
  padding: 40px;
  width: calc(100vw - 120px);
  background-color: #E1D1B7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

h1 {
  margin-bottom: 20px;
  color: #006064;
}

h2 {
  margin: 0;
  font-size: 180px;
}

p {
  font-size: 24px;
  color: #004d40;
}

/* ボタンのデザインを変えたので、後に削除予定 */
/*button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #00796b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #004d40;
}*/

.buttonDesign{
  display: block;
  text-decoration: none;
  width: auto;
  border-radius: 100vh;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  border: 2px solid #BF7F64;
  color: #000;
  margin: 20px auto;
  cursor: pointer;
}

.buttonDesign:hover {
  color: #fff;
  background: #BF7F64;
}

#shakeCount {
  display:block;
  color: red;
  font-size: 180px;
}

/* 結果リストの基本設定 */
.result-list {
  list-style: none;
  padding: 0;
  margin: 20px auto;  /* 横中央に配置 */
}

/* 各順位項目を横並びで中央揃えにする */
.result-list li {
  display: flex;
  align-items: center;      /* 垂直方向中央揃え */
  justify-content: center;  /* 横方向中央揃え */
  gap: 10px;                /* 要素間の間隔 */
  margin: 10px 0;
}

/* 順位のスタイル */
.result-rank {
  font-size: 40px;
}

/* アイコンのスタイル */
.result-img {
  width: 120px;
  height: 120px;
}

/* シェイク回数のスタイル */
.result-text {
  font-size: 32px;
}