body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
  background: url(./img/background.png);
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.barrier{
  border: 5px solid #5B4746;
  margin: 0px 0px 20px 0px;
  width: calc(100vw - 120px);
  background-color: #E1D1B7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

h1 {
  margin-bottom: 20px;
  color: #006064;
}

p {
  font-size: 24px;
  color: #004d40;
}

/* ボタンのデザインを変えたので、後に削除予定 */
/*button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #00796b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #004d40;
}*/

.buttonDesign{
  display: block;
  text-decoration: none;
  width: auto;
  border-radius: 100vh;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  border: 2px solid #BF7F64;
  color: #000;
  margin: 0px 25px 0px 25px;
}

.buttonDesign:hover {
  color: #fff;
  background: #BF7F64;
}

#shakeCount {
  display:block;
  color: red;
  background: #fff;
  font-size: 40px;
}